.git/
.gitignore
.gitattributes
data/
Dataset/
secrets/
reports/
notebooks/
docs/
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
spark-warehouse/
metastore_db/
derby.log
